* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #282c34;
}
.logo {
  width: 10%;
}
.nav-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  list-style: none;
}
.nav-items a:hover {
  color: rgb(152, 230, 230);
}

@media all and (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
    align-items: center;
  }
}
