body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
nav p {
  flex-basis: 10%;
}
nav button {
  flex-basis: auto;
  text-align: left;
  border-radius: 20px;
  box-shadow: 1px 0px;
  border-color: rgba(239, 236, 236);
}
#button {
  color: rgb(65, 64, 64);
  text-decoration: none;
}
nav a {
  flex-basis: 85%;
  text-align: right;
  color: rgb(70, 157, 204);
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(239, 236, 236, 0.896);
  justify-content: space-around;
}
.cards {
  flex-direction: column;
  width: 23%;
  margin: 0.5%;
  justify-content: space-around;
  align-content: center;
  align-items: last baseline;
  background: whitesmoke;
  border-radius: 20px;
}
.cards-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.name {
  text-align: justify;
  margin-top: 50px;
  font-size: 2em;
}
.job {
  text-align: justify;
  font-size: 1em;
  color: rgb(149, 144, 144);
  margin-top: 0;
}
.cards-main button {
  width: 50px;
  height: 25px;
  border-radius: 20%;
  background-color: rgb(187, 226, 187);
  border-color: green;
}
#button2 {
  color: green;
  text-decoration: none;
}
.cards-footer {
  display: flex;
  padding: 2em;
  flex-direction: row;
  justify-content: space-around;
}
.cards-footer a {
  color: rgb(107, 105, 105);
  text-decoration: none;
}
.cards-footer button {
  text-align: center;
  font-size: 1em;
  padding: 1% 24%;
}

.cards img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
@media all and (max-width: 650px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 80%;
  }
}
