.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: #282c34;
  width: 100%;
  color: white;

  justify-content: space-between;
  margin: 20px;
}
.nav-container ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.nav-items li {
  padding: 10px;
}
.nav-items li:hover {
  color: #61dafb;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #61dafb;
  width: 90%;
  background-color: white;
  padding: 20px;
  gap: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card-container img {
  border-radius: 50%;
  width: 60%;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #b3c9f4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #b3c9f4;
  padding-top: 3rem;

  justify-content: space-around;
}
.car-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-container p {
  color: grey;
}
.car-btn-container button {
  width: 100%;
  padding: 15px;
  border: 0.5px solid #b3c9f4;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.btn-email {
  border-bottom-left-radius: 10px;
}
.btn-call {
  border-bottom-right-radius: 10px;
}
.btn-admin {
  background-color: rgb(213, 247, 163);
  border: 0.5px solid rgb(115, 188, 5);
  color: rgb(115, 188, 5);
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
