.body {
  text-align: center;
  padding: 0;
  margin: 0;
}

 /* FLEXBOX */
 
 /* PRIMER EJERCICIO */ 
.App-logo {
  width: 10%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  gap: 15px;
  font-size: 15px;
  cursor: pointer;
}

.nav-items li{
  list-style: none;
  display: inline-block;
}

/* SEGUNDO EJERCICIO */

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #b1b1b1;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: solid 1px #b1b1b1;
  margin: 2%;
  background-color: #FFFFFF;
  width: 18rem;
}

.card-info {
  text-align: center;
  padding: 2rem 4rem;
}

.card-info img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
}

.card-info-workStatus {
  border: 1px solid #008000;
  margin: 0 3rem;
  border-radius: 2rem;
  background-color: #d5ffd5;
}

.card-contact {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.card-email {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  cursor: pointer;
  border-radius: 0 0 0 20px;
  border: solid 1px #b1b1b1;
}

.card-phone {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  cursor: pointer;
  border-radius: 0 0 20px 0;
  border: solid 1px #b1b1b1;
}

/*TERCER EJERCICIO*/

#navigation {
  margin: 5rem 10rem;
  width: 40vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #e2e2e2;
  border-radius: 20px;
}


#searchBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
}

#searchBar > img {
  width: 20px;
  height: 20px;
  gap: 100px;
}

.searchText {
  width: 80%;
  border: none;
  background-color: #e2e2e2;
}

#options {
  list-style: none;
  width: 40vw;
  height: 15vw;
  overflow-y: auto;
  padding-left: 25px;
  margin-top: 0;
  box-sizing: border-box;
}

.optionsBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;
}

.optionsBarImg {
  width: 50px;
  height: 50px;
}

.optionsBarImg > Img {
  width: 100%;
  height: auto;
}

.optionsBarText {
  font-size: 1rem;
}

.optionsBarTextTitle {
  font-weight: bold;
}

.optionsBarText > p {
  margin: 0;
}

/*GRID*/

/* PRIMER EJERCICIO*/

.layout {
  background-color: #61dafb;
  max-width: 100%;
  padding-top: 3rem;
}

.layout-head {
  text-align: center;
}

.layout-card {  
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 2rem;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .layout-card {
    max-width: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
}


.layout-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.layout-card-info > img {
  height: 300px;
  max-width: 100%;
  border-radius: 1rem;
}

.layout-card-date {
  margin-top: 1rem;
}

.layout-card-date a {
  margin-left: 1rem;
  background-color: #ebebeb;
  border-radius: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  color: #000000;
}

.layout-card-person {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1.5rem 1fr;
  grid-template-areas: 
    "writer-img writer-name"
    "writer-img writer-job";
    justify-content: start;
    align-items: start;
    grid-auto-flow: column;
    margin-top: 2rem;
}

.layout-card-person > img{
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
}

.layout-card-person > p {
  font-size: 0.875rem;
}

.writer-img {
  grid-area: writer-img;
}

.writer-name {
  grid-area: writer-name;
  margin: 0;
  font-weight: bold;
}

.writer-job {
  grid-area: writer-job;
  margin: 0;
}