*{
  font-family: sans-serif;
}

.nav{ 
display:flex;
justify-content: space-between;
align-items: center;
}
.nav > img{
  margin-left:50px;
  margin-top:10px;
  width:50px;
}

.box-nav{
  margin-top:25px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 14px;
}

.button{
  border: 1.5px  solid yellowgreen; 
  padding: 2px;
}

.cards{
  display: flex;
  justify-items: flex-start;
  gap: 20px;
  flex-wrap:wrap;
  background-color:#f3f4f6;
  padding:20px;

}

.card{
background-color:white;
padding:20px;
display:flex;
flex-direction:column;
align-items:center;
border-radius:20px;
width:200px;
}

.card > img{
border-radius: 50%;
width: 130px;
border: 3px solid black; 
box-shadow:9px 10px 10px 5px rgba(73, 116, 106, 0.651);
}

.admin{
  border: 2px solid #a3ceaf;
  border-radius: 2rem;
  padding: 5px;
  background-color:hsl(138, 76%, 97%);
  color:limegreen
}

.button{
  width: 100%;
  border-style: hidden;
  display: flex;
  justify-content: space-around;
}

.button > button{
background-color: white;
width:40%;
border:3px solid grey;
padding:6px;
box-shadow:6px 3px 3px 0px rgba(73, 116, 106, 0.651); ;
border-radius:30px;
}