body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
} 
nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-items ul {
  display: flex;
  gap: 20px;
  padding: 1rem;
}
.nav-items li {
  list-style-type: none;
}
body {
  background-color: rgb(193, 188, 188);
}
.card-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.card-wrapper img {
  width: 100px;
  height: auto;
  border-radius: 50px;
}
.card {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  padding: 1rem;
}
.card h4 {
  padding: 10px;
  font-weight: 800;
}
.card p {
  font-weight: 300;
  color: gray;
}
.admin {
  background-color: greenyellow;
  border: 1px;
  border-radius: 5px;
  width: 75px;
  color: green;
  margin: 10px;
}
.botones { 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end ;
}
.botones button {
  background-color: white;
  width: 125px;
  border: 50px;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 75px 170px 150px 25px;
}
.title {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  justify-content: end;
}
.container img {
  width: 250px;
  height: auto;
}
.image1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.image2 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.image3 {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.notice1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.notice2 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.notice3 {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.autor1 {
  display: grid;
  grid-template-columns: 70px 2fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.autor1 img {
  width: 50px;
  height: auto;
  border-radius: 80px;
}
.nombreAutor1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}
.autor2 {
  display: grid;
  grid-template-columns: 70px 2fr;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.autor2 img {
  width: 50px;
  height: auto;
  border-radius: 80px;
}
.nombreAutor2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}
.autor3 {
  display: grid;
  grid-template-columns: 70px 2fr;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.autor3 img {
  width: 50px;
  height: auto;
  border-radius: 80px;
}
.nombreAutor3 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}
